
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<a href="http://shrinkthatfootprint.com/the-big-footprint-of-food-waste"><img class="aligncenter size-full wp-image-2189" alt="How much food do you waste" src="https://i2.wp.com/shrinkthatfootprint.com/wp-content/uploads/2012/12/bins1.jpg?resize=550%2C300" width="550" height="300" srcset="https://i2.wp.com/shrinkthatfootprint.com/wp-content/uploads/2012/12/bins1.jpg?w=550 550w, https://i2.wp.com/shrinkthatfootprint.com/wp-content/uploads/2012/12/bins1.jpg?resize=300%2C163 300w" sizes="(max-width: 550px) 100vw, 550px" data-recalc-dims="1" /></a>There is something horrible about putting food in the bin.</p>
<p>Whether it is because you cooked too much for,  let it go out of date or your kid didn&#8217;t fancy it, it just doesn&#8217;t feel right.  Not only is it an awful waste but it can really add to your carbon footprint.</p>
<p>In this post we are going to tuck in to the numbers of the food we waste, lose and eat.  In doing so we will see just how big food wastage footprint is.</p>
